h1 {
    font-size: 100px;
    text-align: center;
    margin: 1px 8px 8px 8px;
}
h2 {
    font-size: 170px;
    text-align: center;
    margin: 1px 8px 8px 8px;
}
ul {
    font-size: 20px;
}
p {
    font-size: 20px;
}
h4 {
    font-size: 25px;
}
h3 {
    font-size: 23px;
}
#illu {
    font-size: 17px;
}
.pic {
    margin: 8px 8px 8px 30px;
}
.poem {
    margin: 8px 8px 4px 30px;
}
img {
    margin: 8px 8px 8px 30px;
}
.p1 {
    margin: 4px 8px 15px 3px;
}
.a1 {
    font-size: 17px;
}